

body {
	background:  url("Panda.jpg") top right no-repeat;
	background-size: 200px;
}

li a {
	color: red;
	font-size: 2em;
	font-family: Arial;
	font-style: italic;
	text-decoration: none;


}

.topics {
	color: green;
	font-size: 50px;
	font-family: Arial;
	text-decoration: none;
	border: black solid; /*border-bottom для нижнего подчеркивания*/
	border-width: 0px 0px 2px;
}

.color{
	background-color: #b4b3ea
}

.next:hover {
	text-decoration: none;
	color: #58f900;
}

.comment {
	color: #7b7d7b;
}

.center{
	border: 4px red dotted;
	font-size: 100px;
	text-align: center;
}

.first-letter:first-letter{
	color: #f4250a;
	font-size: 60px;
	font-style: italic;
}

.flower{
	list-style-image: url(pink_flower.png);
	list-style-position: inside;
}

.toys{
	list-style-image: url(mydocuments.png);
	list-style-position: inside;
}

.book{
	list-style-image: url(emblem_library.png);
	list-style-position: inside;	
}

.bol strong1 {
	font-size: 30px;
	background-color: #bff8ef;
}

.bol strong2 {
	font-size: 15px;
	background-color: #e6f8bf;
}
.bol {
	width: 400px
}

.new:after {
	content: "      new";
	background-color: red;
	color: white;

}

.backgroung {
	background: url(173.jpg);
	background-size: 20px;
}

.img_bord {
	border: 3px solid red;

}
										/*outline none*/
.img_bord:hover {
	border: 3px solid transparent;
}

.width {
	width: 300px;
}

.width1 {
	width: 500px;
}

.width2 {
	width: 300px;
}

.width2:focus {
	color: red;
	background-color: blue;
}

.save:active {
background-color: red;

}

.clean:active {
background-color: blue;
}

.radio:hover {
	outline: dotted 2px black;

}

.cap {
	text-transform: capitalize;
	width: 300px;
}